In [55]:
# 2.10 Exercises

# Exercise 1
# Repeating my advice from the previous chapter, whenver you learn a new feature, you
# should try it out in interactive mode and make errors on purpose to see what goes wrong.

# 1.) We've seen that n = 42 is legal. What about 42 = n?
42 = n

# Returns a syntax error.

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (857978465.py, line 8)

In [63]:
# 2.) How about x = y = 1?
x = y = 1

# Both x and y are equal to 1.

1

In [68]:
# 3.) In some languages every statement ends with a semi-colon,;. What happens if you
# put a semi-colon at the end of a Python statement?
x = 5;
x

# It runs with a semi-colon.

5

In [70]:
# 4.) What if you put a period at the end of a statement?
x = 5.
x

# It turns x into a floating point number.

5.0

In [72]:
# 5.) In math notation you can multiply x and y like this: xy. What happens if you try that in Python?
x = 2
y = 3
xy

# Returns a name error (xy is not defined).

NameError: name 'xy' is not defined

In [76]:
# Exercise 2
# Practice using the Python interpreter as a calculator

# 1.) The volume of a sphere with radius r is 4/3 * pi * r^3. What is the volume of a sphere
# with radius 5?
(4/3) * 3.14159 * 5*3

62.83179999999999

In [77]:
# 2.) Suppose the cover price of a book is $24.95, but bookstores get a 40% discount.
# Shipping costs $3 for the first copy and 75 cents for each additional copy. 
# What is the total wholesale cost for 60 copies?
(24.95 * 0.60)*60 + 3 + 0.75*59

945.4499999999999

In [78]:
# 3.) If I leave my house at 6:52 am and run 1 mile at an easy pace (8:15 per mile), 
# then 3 miles at tempo (7:12 per mile) and 1 mile at easy pace again, 
# what time do I get home for breakfast?

2*8.25 + 3*7.2

# You would get home at 7:30.

38.1